.wrap {
  max-width: 1100px;
  margin: 0 auto;
}

#main {
  background-color: #575381;
  width: 100%;
  min-height: 300px;
  height: auto;
}

h1 {
  margin: 10px;
}

.jumbotron {
  padding-top: 10px;
}

.invalid {
  border: 3px solid red;
}

.green {
  color: green;
}

.red {
  color: red;
}